* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(to left, #753682 0%, #bf2e34 100%);

  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  min-height: 100%;
}

.page {
  padding: 60px 0px 20px 0px;
}
.page__section {
  position: relative;
  background-color: #fff;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
  font-size: 1.8rem;
  width: 30rem;
  border-radius: 0.7rem;
  margin: 0 3rem;
}

.sections {
  display: flex;
  font-size: 2rem;
  opacity: 1;
  transition: opacity 1s;
}

.section__img {
  width: 30rem;
  height: 17rem;
  object-fit: cover;
  background-color: #eee;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.mabudget-button {
  background-color: rgba(255, 255, 255, 0.193);
  color: #333;
  font-weight: 500;
  border: 2px solid #e7e7e7;
  border-radius: 5px;
}

.mabudget-button:hover {
  background-color: #e7e7e7;
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: white;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}
